footer{
    background-color: #302f2f;
    color : white;

    
    h4{
        letter-spacing: 1.5px;
        font-weight: 400;
        margin-bottom: 1rem;
    
    }
}
.footer-container{
    padding: 1rem;

}
.footer{

    &__icon
    {
        margin-right: 10px;

        &--marge{
            margin-right: 2px;
        }
    }


    &__link{
        color: white;	
       line-height: 2rem;
    }
}

@media screen and (min-width: 768px) {
    .footer-container{
        text-align: center;
   }
}


@media screen and (min-width: 1024px)
{

}