.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #302f2f;
  z-index: 9999;
  animation: stop-spinner 3s both ease-in-out;
}

.fork {
  position: absolute;
  top: 40vh;
  left: 45vw;
  font-size: 10rem;
  animation: fork-animation 3s both;
}

@keyframes fork-animation {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    color: #99E2D0;
    transform: scale(2);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    color: #FF79DA;
  }
  100% {
    transform: rotate(1800deg);
    color: #9356DC;
  }
}
@keyframes stop-spinner {
  0% {
    opacity: 95%;
  }
  90% {
    background-color: #302f2f;
    opacity: 95%;
  }
  100% {
    background-color: transparent;
    opacity: 0%;
    pointer-events: none;
  }
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  margin: 0px;
  padding: 0px;
}

svg {
  overflow: visible;
}

.heart {
  fill: url(#gradient);
  fill-opacity: 0;
  stroke: rgba(0, 0, 0, 0.8);
  stroke-width: 2px;
  stroke-opacity: 1;
  transition: all 0.5s ease-in-out;
}
.heart:hover {
  cursor: pointer;
  fill-opacity: 1;
  stroke-opacity: 0;
  transition: all 1s ease-in-out;
}

h1, h4, h5, h6 {
  font-family: Shrikhand;
}

body {
  font-family: "Roboto";
}

.home-header {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  position: relative;
  z-index: 2;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 2rem;
}

/* //? Pages menu */
.menu-header {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.menu {
  display: flex;
  position: relative;
}
.menu__arrow {
  position: absolute;
  left: 1.5rem;
  top: 20%;
  font-size: 1.5rem;
  opacity: 75%;
}
.menu__logo {
  margin: auto;
}

.localisation {
  background-color: #f3f3f3;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.localisation__text {
  margin-left: 0.5rem;
  font-weight: 700;
}

.hero {
  text-align: center;
  padding: 3rem;
  background-color: #fafafa;
}
.hero h2 {
  font-weight: 700;
  font-size: 1.5rem;
}
.hero p {
  opacity: 55%;
  font-weight: 500;
  margin-bottom: 3rem;
}

/* //! Titre + Reset */
.fonct {
  margin: 1.5rem;
}
.fonct h2 {
  margin-bottom: 1.5rem;
  font-weight: 700;
}
.fonct p {
  margin: 0;
}

/* //! Cards de fonctionnement */
.fonct-card {
  display: flex;
  background-color: #f3f3f3;
  padding: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 1.5rem;
  box-shadow: 4px 4px 3px 0px rgba(58, 56, 56, 0.1);
  position: relative;
}
.fonct-card:hover {
  background-color: #f5edff;
  transition: all 0.5s ease-in-out;
}
.fonct-card:hover .fonct-card__icon {
  color: #9356DC;
}
.fonct-card__number {
  position: absolute;
  left: -0.7rem;
  top: 1.2rem;
  font-size: 0.7rem;
  background-color: #9356DC;
  padding: 0.5rem;
  text-align: center;
  line-height: 0.5rem;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  color: white;
}
.fonct-card__icon {
  color: grey;
  margin-right: 1rem;
  margin-left: 0.75rem;
  font-weight: 700;
}
.fonct-card__text {
  font-weight: 700;
}

/* //! Restaurant */
.resto {
  padding: 1.5rem;
  margin-top: 3.5rem;
  background-color: #f3f3f3;
}
.resto .card {
  border-radius: 25px;
  overflow: hidden;
  background-color: white;
  margin-top: 1.5rem;
  position: relative;
}
.resto .card img {
  object-fit: cover;
  width: 100%;
  height: 10rem;
}
.resto .card h3 {
  margin-top: 1rem;
  margin-left: 1rem;
}
.resto .card__tag {
  background-color: #99E2D0;
  position: absolute;
  top: 5%;
  right: 1rem;
  padding: 0.5rem;
  border-radius: 5%;
  color: #1b5c4c;
  font-weight: 700;
  font-size: 1rem;
}
.resto .card__text {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: -0.5rem;
  position: relative;
}
.resto .card__icon {
  position: absolute;
  right: 0;
  color: gray;
  bottom: 2rem;
}

@media screen and (min-width: 768px) {
  h2 {
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .fonct-container {
    display: flex;
    justify-content: center;
  }

  .fonct-card {
    flex: 1;
    margin-right: 5rem;
    max-width: 20rem;
  }

  .resto-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    min-width: 35rem;
    width: 35rem;
    margin-right: 4rem;
    margin-left: 4rem;
    margin-bottom: 2rem;
    flex: 1;
  }
}
.btn {
  background: #ff79da;
  background: linear-gradient(167deg, #ff79da 9%, #9356dc 81%);
  padding: 1rem;
  border-radius: 5rem;
  color: white;
  font-weight: 700;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}
.btn:hover {
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.45);
  opacity: 80%;
}

.order-wrapper {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 6rem;
}

.btn-order {
  background: #ff79da;
  background: linear-gradient(167deg, #ff79da 9%, #9356dc 81%);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 5rem;
  color: white;
  font-weight: 700;
  transition: 0.5s;
}
.btn-order:hover {
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.45);
  opacity: 80%;
}

footer {
  background-color: #302f2f;
  color: white;
}
footer h4 {
  letter-spacing: 1.5px;
  font-weight: 400;
  margin-bottom: 1rem;
}

.footer-container {
  padding: 1rem;
}

.footer__icon {
  margin-right: 10px;
}
.footer__icon--marge {
  margin-right: 2px;
}
.footer__link {
  color: white;
  line-height: 2rem;
}

@media screen and (min-width: 768px) {
  .footer-container {
    text-align: center;
  }
}
.bg-hero {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.main-menu {
  position: relative;
  z-index: 2;
  margin-top: -3rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
}

.container-menu {
  padding: 1.5rem;
}

.hero-menu {
  display: flex;
  justify-content: space-between;
}
.hero-menu__titre {
  font-family: Shrikhand;
}
.hero-menu__logo {
  opacity: 50%;
  font-size: 1rem;
  margin-left: 3rem;
}

.food h3 {
  margin-top: 2rem;
  position: relative;
  text-transform: uppercase;
  padding-bottom: 5px;
  width: 45px;
}
.food h3::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: solid 3px #99E2D0;
}
.food__card {
  margin-top: 1rem;
  padding: 0.75rem;
  border-radius: 25px;
  transition: 0.2s ease-in-out;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
}
.food__card:hover .validation__box {
  transform: translate(0px, 0px);
  transition: all 0.5s ease-in-out;
}
.food__card:hover .food__flex {
  width: 85%;
  transition: 0.5s ease-in-out;
}
.food__card:hover i {
  transform: rotate(360deg);
  transition: 0.8s ease;
}
.food__flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.food__wrapper-text {
  white-space: nowrap;
  overflow: hidden;
}
.food__wrapper-text p {
  margin-top: 8px;
  margin-bottom: 0px;
  font-size: 0.8rem;
  text-overflow: ellipsis;
  overflow: hidden;
}
.food .food__titre {
  font-weight: 900;
  font-size: 1rem;
}
.food__price {
  font-size: 1rem;
  font-weight: bold;
  padding-right: 20px;
  font-weight: bold;
  padding-left: 1rem;
  margin-top: 1.5rem;
}

.validation__box {
  position: absolute;
  transform: translate(70px, 0px);
  transition: all 0.5s ease-in-out;
  background-color: #99E2D0;
  border-radius: 0 25px 25px 0;
  right: 0px;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 100%;
}
.validation__box i {
  font-size: 30px;
  line-height: 4.5rem;
  color: white;
  transform: rotate(160deg);
  transition: 0.7s ease;
}

/* //! Boucle apparation menu  */
.food_1 {
  animation: opacity-menu 0.5s 1s ease-in-out both;
}

.food_2 {
  animation: opacity-menu 0.5s 2s ease-in-out both;
}

.food_3 {
  animation: opacity-menu 0.5s 3s ease-in-out both;
}

@keyframes opacity-menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* //! Responsive */
@media screen and (min-width: 768px) {
  .container-menu {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .bg-hero {
    width: 100%;
    height: 30rem;
    object-fit: cover;
  }

  .flex-menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .food__card {
    overflow: hidden;
    min-width: 22rem;
    margin-right: 2rem;
  }
  .food p {
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
