.btn{

    background: rgb(255,121,218);
    background: linear-gradient(167deg, rgba(255,121,218,1) 9%, rgba(147,86,220,1) 81%);
    padding: 1rem;
    border-radius: 5rem;
    color: white;
    font-weight: 700;
    
}