svg {
    overflow: visible;
}

.heart {

    fill: url(#gradient);
    fill-opacity: 0;
    stroke: rgb(0, 0, 0, 0.8);
    stroke-width: 2px;
    stroke-opacity: 1;
    transition: all 0.5s ease-in-out;

    &:hover {
        cursor: pointer;
        fill-opacity: 1;
        stroke-opacity: 0;
        transition: all 1s ease-in-out;

    }
}