.localisation {
    background-color: #f3f3f3;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

    &__text {
        margin-left: 0.5rem;
        font-weight: 700;
    }
}

.hero {
    text-align: center;
    padding: 3rem;
    background-color: #fafafa;

    h2 {
        font-weight: 700;
        font-size: 1.5rem;
    }

    p {
        opacity: 55%;
        font-weight: 500;
        margin-bottom: 3rem;
    }

}

/* //! Titre + Reset */

.fonct {
    margin: 1.5rem;

    h2 {
        margin-bottom: 1.5rem;
        font-weight: 700;
        
    }

    p {
        margin: 0;
    }
}

/* //! Cards de fonctionnement */
.fonct-card {
    display: flex;
    background-color: #f3f3f3;
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 1.5rem;
    box-shadow: 4px 4px 3px 0px rgba(58, 56, 56, 0.1);
    position: relative;

    &__number {
        position: absolute;
        left: -0.7rem;
        top: 1.2rem;
        font-size: 0.7rem;
        background-color: $purple;
        padding: 0.5rem;
        text-align: center;
        line-height: 0.5rem;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        color: white;
    }

    &__icon {
        color: grey;
        margin-right: 1rem;
        margin-left: 0.75rem;
        font-weight: 700;
    }

    &__text {
        font-weight: 700;

    }

}

/* //! Restaurant */

.resto {
    padding: 1.5rem;
    margin-top: 3.5rem;
    background-color: #f3f3f3;

    .card {
        border-radius: 25px;
        overflow: hidden;
        background-color: white;
        margin-top: 1.5rem;
        position: relative;

        

        img {
            object-fit: cover;
            width: 100%;
            height: 10rem;
        }

        h3 {
            margin-top: 1rem;
            margin-left: 1rem;
        }

        &__tag {
            background-color: $green;
            position: absolute;
            top: 5%;
            right: 1rem;
            padding: 0.5rem;
            border-radius: 5%;
            color: #1b5c4c;
            font-weight: 700;
            font-size: 1rem;
        }

        &__text {
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;
            margin-left: 1rem;
            margin-right: 1rem;
            margin-top: -0.5rem;
            position: relative;
        }
        &__icon {
            position: absolute;
            right: 0;
            color: gray;
            bottom: 2rem;

        }
    }

}

@media screen and (min-width: 768px) {
    h2{
        text-align: center;
    }
}


@media screen and (min-width: 1024px)

{

    .fonct-container {
        display: flex;
        justify-content: center 
    }
    .fonct-card {
        
        flex: 1;
        margin-right: 5rem;
        max-width: 20rem;
        
    }
    .resto-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between
}
.card{
    min-width: 35rem;
    width: 35rem;
    margin-right: 4rem;
    margin-left: 4rem;
    margin-bottom: 2rem;

    flex: 1;
}
}


