.localisation{
    background-color: #f3f3f3;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    .localisation_text{
        margin-left: 0.5rem;
        font-weight: 700;
    }
}

.hero{
    text-align: center;
    padding: 3rem;
    background-color: #fafafa;
    h2{
        font-weight: 900;
        font-size: 1.5rem;
    }
    p{
        opacity: 55%;
        font-weight: 500;
        margin-bottom: 3rem;
    }
    .hero_btn{

        background: rgb(255,121,218);
        background: linear-gradient(167deg, rgba(255,121,218,1) 9%, rgba(147,86,220,1) 81%);
        padding: 1rem;
        border-radius: 5rem;
        color: white;
        
  
  

    }
}
