.bg-hero {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.main-menu {
    position: relative;
    z-index: 2;
    margin-top: -3rem;
    border-radius: 2rem 2rem 0 0;
    background-color: #f6f6f6;
}

.container-menu {
    padding: 1.5rem;
}

.hero-menu {
    display: flex;
    justify-content: space-between;

    &__titre {
        font-family: Shrikhand;
    }

    &__logo {
        opacity: 50%;
        font-size: 1rem;
        margin-left: 3rem;
    }
}

.food {

    h3 {
        margin-top: 2rem;
        position: relative;
        text-transform: uppercase;
        padding-bottom: 5px;
        width: 45px;
    }

    h3::after {
        content: "";
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        border-bottom: solid 3px $green;
    }

    &__card {
        margin-top: 1rem;
        padding: 0.75rem;
        border-radius: 25px;
        transition: 0.2s ease-in-out;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);

        &:hover .validation__box {
            display: block;
            animation: slide-left 0.5s ease;
            transform-origin: right;
        }

        &:hover .food__price {
            padding-right: 70px;
            transition: 0.5s ease;
        }

        &:hover i {
            animation: rotate 1s;
        }
    }

    &__flex {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    &__wrapper-text {
        white-space: nowrap;
        overflow: hidden;

        & p {
            margin-top: 8px;
            margin-bottom: 0px;
            font-size: 0.8rem;
            text-overflow: ellipsis;
            overflow: hidden;
        }

    }


    .food__titre {
        font-weight: 900;
        font-size: 1rem;
    }

    &__price {
        font-size: 1rem;
        font-weight: bold;
        padding-right: 20px;
        font-weight: bold;
        padding-left: 1rem;
        margin-top: 1.5rem;
    }

}


.validation__box {
    display: none;
    position: absolute;
    background-color: $green;
    border-radius: 0 25px 25px 0;
    right: 0px;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100%;

    i {
        font-size: 30px;
        line-height: 4.5rem;
        color: white;
    }
}



@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes slide-left {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(-50px);
    }
}




/* //! Boucle apparation menu  */

@for $i from 1 through 3 {
    .food_#{$i} {
        animation: opacity-menu 0.5s #{$i}s ease-in-out both;
    }
}

@keyframes opacity-menu {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* //! Responsive */

@media screen and (min-width: 768px) {
    .container-menu {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;

    }

    .bg-hero {
        width: 100%;
        height: 30rem;
        object-fit: cover;
    }

    .flex-menu {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

    }

    .food {
        &__card {
            overflow: hidden;
            min-width: 22rem;
            margin-right: 2rem;


        }

        p {
            font-size: 14px;
        }

    }


}